
body {
    
    justify-content: center;
    align-items: center;
    background-color: black;
    
}

nav {
    width: 100%;
    background-color: rgb(255, 200, 0)
}

h3 {
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.myIcons {
    display: flex;
    justify-content: center;
    margin-top: -70px;
}

.container {
    display: flex;
    padding: 30px;
    margin: 100px;
}

.sign__form {
    width: 250px;
    height: 30px
}

#signUp, #login, #signIn, #back, #loginCommuter, #signUpCommuter, #signInCommuter, #commuterBack {
    width: 100px;
    height: 30px;
}

#signUp, #back, #signUpCommuter, #commuterBack {
    margin-left: 53px;
}

.driver_data, .commuter_data {
    padding: 5px
}

.form__driver, .form__driverLogin, .form__commuter_login {
    display: none;
}

.form__commuter {
    display: none;
}

.icon_commuter, .icon__taxi {
    margin-left: 100px;
    text-align: center;
    padding: 40px;
}

.h3 {
    height: 80vh;
    margin-top: 70px;
}

.driver_dashB, .commuterDashB {
    width: 100%;
    height: 400px;
    /* Adjust the height as needed */
}

.simulate {
    width: 80px;
    height: 35px;
    display: flex;
    text-align: center;
    background-color: chocolate;
    border-radius: 8%;
    padding: 10px;
    margin-top: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    cursor: pointer;
}

.driver_name {
    padding: 30px;
}